@font-face {
  font-family: 'Molot';
  src: url("../../public/fonts/Molot.otf");
}
@font-face {
  font-family: 'Montserrat';
  src: url("../../public/fonts/MontserratExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../../public/fonts/MontserratRegular.ttf");
  font-weight: 400;
}

$bg-dark: #171717;
$bg-light: #eee;
$bg-gray: #343434;
$bg-light-second: #cfcfcf;
$bg-light-gray: #aaaaaa;
$font-family: "Montserrat", sans-serif;
$second-family: "Molot", sans-serif;
$second-family: "Molot", sans-serif;

$fw-dark: 200;
$fw-light: 400;

$dellay: 600ms;

$media1920: 1200px;


.light-theme {
  --bg-color-main: #{$bg-light-second};
  --bg-color-second: #{$bg-dark};
  --bg-gray: #{$bg-gray};
  --bg-light-gray: #{$bg-light-gray};
  --font-w: #{$fw-light};
  --bg-color-allways-white: #{$bg-light};
}

.dark-theme {
  --bg-color-main: #{$bg-dark};
  --bg-color-second: #{$bg-light};
  --bg-gray: #{$bg-gray};
  --bg-light-gray: #{$bg-gray};
  --font-w: #{$fw-dark};
 --bg-color-allways-whitew: #{$bg-light};
}