@import '../../app/variables.scss';

.textBlock {
  margin-bottom: 30rem;
  &.notMain {
    margin-top: 20rem;
    margin-bottom: 0;
  }
  &.active {
    .heading {
      transform: translateX(0);
      opacity: 1;
    }
    .text {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {

  margin-bottom: 10rem;
  width: 100%;
  text-align: left;
  transition: all .4s ease;
  transform: translateX(60rem);
  opacity: 0;

  &.notMain {
    font-size: 20rem;
  }
}
.text {
  transition: all .4s ease;
  transform: translateX(-60rem);
  opacity: 0;

}
@media (max-width: $media1920) {
  .textBlock {
    max-width: 100vw;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 0rem; /* Ширина всего элемента навигации */
    }
  }

}